<footer>
  <small>
    This is the portfolio of <a href="https://daniel@deverell.com">Dan Deverell</a>.

    {# It was created using the Netlify Eleventy Boilerplate. Check out the <a href="{{ pkg.repository.url }}">Github repo</a>. #}
    It was created using the Netlify Eleventy Boilerplate. Check out the <a target="_blank" href="https://github.com/DannyBoyNYC/eleventy-netlify-boilerplate">Github repo</a>.
  </small>
</footer>
