<footer>
  <small>
    <a href="https://github.com/DannyBoyNYC">github</a> 
    <a mailto="daniel.deverell@gmail.com">daniel.deverell@gmail.com</a> 
    <a href="/admin">admin</a> 
  </small>
</footer>

